body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(45, 162, 168), rgb(42, 185, 192));
    margin: 0 auto;   
}

a{ 
    text-decoration: none;
    color: blueviolet;
}

a:hover{
    color: orangered;
}
a:visited{
    color: blueviolet;
}

.profil{ 
    vertical-align: middle;
    height: 50px;
    width: 50px;
}

.icon{
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: rgb(44, 123, 127);
    background-image: url(../images/zen.jpg);
    background-size: cover;
    color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
}

 /* Navbar container */
 .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f2e6ff; /* Grey background color */
    color: black; /* Black text color */
}
  
/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}
    
/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
} 


/* Main column */
.main {
    width: 900px;
    margin: auto;
    display: flex;
    height: auto;
    background-color: rgb(222, 232, 233);
    padding: 0 40px 40px 40px;
    line-height: 1.5;
    
}
.content{
    width: 900px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

.content h1{
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 20px 0 0 0;  
    color: rgb(44, 123, 127);
}

.image{
    max-width: 500px;
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;   
    text-align: center;
    display: block;
}

.imageContent{
    max-width: 500px;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}


.button {
    position: relative;
    background-color: rgb(44, 123, 127);
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.button:after {
    content: "";
    background: rgb(44, 123, 127);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.wrapper{
    margin: auto;
    text-align: center;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(222, 232, 233); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}



